*{
  margin:0;padding:0;
}

.navbar{
  position: fixed;
  top:0;left:0;right:0;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
  color:grey;
  z-index: 3;
  box-shadow: .1rem .3rem .3rem rgba(0, 0, 0, 0.431);
  transition: .3s all ease-in-out;
}
.navbar.active{
  background-color:black;
  color:white;
  padding:8px 90px;
}

.navbar .logo{
  height: 30px;
  width: 30px;
}
.user{
  display:none;
}
.nav-menu{
  display:flex;
  align-items: center;
  list-style: none;
  gap:40px;
  font-size:18px;
}

.nav-menu li:hover{
  cursor: pointer;
  text-decoration: underline;
}

.nav-connect{
  display:flex;
  align-items: center;
  list-style: none;
  gap:10px;
  font-size:18px;
}

.L-Mode{
  font-size:22px;
  margin-left:5px;
  margin-top:0.5px;
}

.login{
  padding:10px 15px;
  border-radius:50px;
  font-size:18px;
  color:white;
  cursor:pointer;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: black;
  font-weight: 100;
}

.signup{
  padding:10px 15px;
  border-radius:50px;
  font-size:18px;
  cursor:pointer;
  color:white;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: black;
  font-weight: 100;
}

.login:hover{
  transform:scale(1.05);
}

.signup:hover{
  transform:scale(1.05);
}
.nav-mob-close{
  display: none;
}
.nav-mob-open{
  display: none;
}

@media(max-width:1120px){
 .nav-menu{
  font-size:14px;
  width:70%;
 }
}

@media(max-width:991px){
  
  .nav-connect{
    position:fixed;
    flex-direction: column;
    align-items:start;
    top:0;gap:30px;
    background-color: black;
    width:350px;
    height: 100%;
    z-index:2;
    transition:right 0.5s;
    right:-350px;
  }
  .nav-connect .login{
    background-color: brown;
    padding:20px;
    position:absolute;
    width:100%;
    top:300px;
  }
  .nav-connect .signup{
    background-color: brown;
    padding:20px;
    position:absolute;
    width:100%;
    top:400px;
  }
  .nav-mob-open{
    display: block;
    position: fixed;
    right:30px;
    font-size:25px;
  }
  .L-Mode{
    font-size:25px;
    position: absolute;
    top:3px;left:40px;
  }
  .user{
    display: block;
    margin-right: -25px;
  }
  .nav-connect.active{
    
    right:0px;
  }
  .nav-menu{
    position:fixed;
    flex-direction: column;
    align-items:start;
    top:0;gap:30px;
    background-color: black;
    width:350px;
    height: 100%;
    z-index:2;
    transition:right 0.5s;
    right:-350px;
  }
  .navbar .logo{
    position:absolute;
    top:5px;left:40px;
    height:30px;
    width: 30px;
    }
  .nav-menu li{
    font-size:30px;
    padding-left: 100px;
    flex-direction: row;
    gap:20px;
  }
 .nav-mob-close{
    display: block;
    position: relative;
    top:20px;
    left:290px;
    font-size: 30px;
  }

}
